spring:
  datasource:
    url: jdbc:h2:mem:simfutdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG

security:
  jwt:
    secret: c3VwZXItc2VjcmV0LWp3dC1zaW1mdXQtYmFja2VuZC0xMjM0NTY=
    expiration: 3600000
